mixin valueBlock(title, text)
  .flex-container.values-section__wrapper
    img.value-point(src="https://img.icons8.com/flat-round/64/leaf.png" alt="leaf")
    .flex-column.values-section__value-container
      .values-section__value-title= title
      .values-section__value-text= text

mixin topicBlock(img, text)
  .flex-column.topics-section__topic-container
    img(src=`/img/${img}` class="topics-section__topic-pic")
    .topics-section__topic-text= text 

doctype html
html
  head
    title Ирина Никольская, психолог-консультант
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- <!-- Include Lottie Library -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js")
    link(rel="canonical" href="https://nikolskaya.org")
    link(href="css/styles.css" rel="stylesheet")
    link(href="img/favicon.png" rel="icon")
    //- Axios CDN - the way to import axios without bundlers:
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    //- fonts:
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  body
    header.flex-container
      .flex-column.brand
        .brand__name Ирина Никольская
        .brand__sub Психолог-консультант
      nav.flex-container.nav-links-container
        .link.selfLink Обо мне
        .link.valuesLink Мои ценности
        .link.topicsLink С чем я помогаю
        .link.articlesLink Условия работы
      .flex-container.nav__socialLinks
        a(href="mailto:nikolskaya.therapy@gmail.com" class="flex-container")
          <svg viewBox="-1 -1 30 30" class="svg-social-top"><path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/></svg>
        a(href="https://t.me/Nikolskaya_psy")
          <svg viewBox="-1 -1 30 30" class="svg-social-top" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"/></svg>

    .flex-column.content
      .section.top-section
        img(src="img/mainBack.jpg" alt="Main photo" class="top-section__photo")
        .top-section__text-backdrop
        .lottie-leaves
        .top-section__text
          .top-section__text-big Практикующий психолог
          .top-section__text-small Когнитивно-поведенческая терапия
          .top-section__text-small Для взрослых и подростков
          button.top-section__contact-btn Хочу на консультацию

      .section.flex-column.self-section
        .section-title.self-section__title Обо мне
        .flex-container.self-section__content
          //- img(src="/img/photo2.jpg" alt="my photo here" class="self-section__photo")
          .flex-column.self-section__text-container
            .self-section__small-text.first-line О чем вы думаете, когда вам радостно? А когда тревожно или грустно? Источник наших эмоциональных состояний - в том, как мы мыслим.
            .self-section__small-text Меня зовут Ирина, я - практикующий психолог, консультирую онлайн с 2022 г. 
            .self-section__small-text Провела 400+ сессий. Меня вдохновляет, что клиенты видят позитивные изменения в своей жизни. Люблю свою работу и чувствую, что я на своем месте.
            .self-section__small-text Чтобы оказывать профессиональную помощь, я постоянно учусь и повышаю  квалификацию, нахожусь в личной терапии и регулярно посещаю супервизии.
            .self-section__small-text Работаю в когнитивно-поведенческом подходе. КПТ - один из самых исследованных и эффективных методов психотерапии. На сессиях вы узнаете, как мысли меняют наше настроение, и научитесь менять те убеждения, которые негативно влияют на вашу жизнь. 
            .self-section__small-text Если хотите улучшить свое психологическое состояние, приходите на консультацию!
            .mobile-lottie.lottie-conversation

      .section.flex-column.values-section
        .section-title.values-section__title Мои ценности
        .flex-container.values-section__content
          .flex-column.values-column
            +valueBlock('Соблюдение профессиональной этики', 'Все, что вы расскажете, останется между нами. Если ваш запрос окажется не в зоне моей компетенции, перенаправлю вас к другому специалисту.')
            +valueBlock('Принятие', 'Я с пониманием отнесусь к вашей истории и бережно - к вашим чувствам.')
            +valueBlock('Поддержка', 'Вы решили разобраться со своей проблемой, и это большой шаг. Я буду рядом даже когда будет трудно.')
            +valueBlock('Уважение границ', 'Вы делитесь только тем, чем готовы поделиться. В своем ритме.')
            +valueBlock('Обучение', 'Я постоянно учусь, чтобы лучше помогать.')
          .pc-lottie.lottie-conversation

      .section.flex-column.topics-section
        .topics-section__backdrop-img
        .section-title.topics-section__title С чем я помогаю
        .checkbox_item.citem_2.flex-container
          .title-switch.active-switch.adult Взрослым
          label.checkbox_wrap
            input(type="checkbox" name="checkbox" class="checkbox_inp")
            span.checkbox_mark
          .title-switch.teen Подросткам

        .flex-container.topics-section__wrapper
          .flex-container.topics-section__content.adultTopics
            +topicBlock('6.jpg', 'Прожить кризисный период')
            +topicBlock('1.jpg', 'Принять важное решение')
            +topicBlock('2.jpg', 'Справиться с профессиональным стрессом')
            +topicBlock('4.jpg', 'Наладить отношения с близкими')
            +topicBlock('12.jpg', 'Повысить самоценность')
            +topicBlock('18.jpg', 'Преодолеть эмоциональные трудности')
          .flex-container.topics-section__content.teenTopics.hidden
            +topicBlock('14.jpg', 'Наладить отношения с семьей и друзьями')
            +topicBlock('7.jpg', 'Решить проблемы в учебе')
            +topicBlock('9.jpg', 'Научиться регулировать эмоции')
            +topicBlock('15.jpg', 'Сформировать адекватную самооценку')
            +topicBlock('8.jpg', 'Адаптироваться к возрастным изменениям')

      .section.flex-column.articles-section
        .flex-container
          .articles-section__price-wrapper
            .flex-column
              .articles-section__price-block
                .articles-section__price-title Консультация
                .articles-section__price-text 2 500 р. / 60 мин
              .articles-section__price-block
                .articles-section__price-title Пакет из 5 консультаций
                .articles-section__price-text 11 000 р.

          .flex-column.articles-section__btn-container
            button.articles-section__btn(data-about='conditions') Условия работы
            //- button.articles-section__btn(data-about='first') Как проходит первая сессия
        dialog.flex-column.dialogWindow
          .dialog__content
            .dialog__title
            .dialog__text

      .section.flex-column.contact-section
        .section-title.contact-section__title Напишите мне:
        .flex-container.contact-section__container
          img(src="/img/photo2.jpg" alt="my photo here" class="contact-section__photo")
          form(id="contact-form" class="flex-column")
            input(type="text" id='contact-name' class="contact-section__input" placeholder="Ваше Имя" required)
            input(type="email" id='contact-email' class="contact-section__input" placeholder="Ваша Почта" required)
            textarea(type="text" id='contact-message' class="contact-section__textarea" placeholder="Сообщение" required)
            button.contact-section__send-btn Отправить
            .contact-section__loader
        .message-plane

    footer.flex-container
      .footer-text Ирина Никольская, психолог-консультант. Все права защищены. 2022 - 2024

script(type="module" src="JS/psychology.js")